extends layout

block content

    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser. 
        a(href='http://browsehappy.com/') Upgrade your browser today
        |  or 
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        |  to better experience this site.
    | &#x9;&#x9;
    .main-container
      div
        // begin top-bar
        .top-bar
          // social stuff
          .social-links
            a(href='mailto:inf%6f%40%79oursit%65%2e%63%6fm')
              i.fa.fa-envelope.fa-2
            |                             
            |                                                             
            a(href='http://twitter.com/http://')
              i.fa.fa-twitter.fa-2
            |                             
            |                                                             
            a(href='http://')
              i.fa.fa-dribbble.fa-2
            |                             
            |                                                             
            a(href='http://')
              i.fa.fa-facebook-square.fa-2
            |                             
            |                             
            |                                                             
            a(href='http://')
              i.fa.fa-vimeo-square.fa-2
            |                             
            |                                                              
            a(href='http://')
              i.fa.fa-linkedin.fa-2
            |                             
            |                             
            |                                                             
            a(href='http://')
              i.fa.fa-github.fa-2
            |                             
            |                                                             
            a(href='http://demo.s5themes.com/cody/feed/')
              i.fa.fa-rss.fa-2
          // end social stuff
        // end .top-bar
        .header-container
          // begin header
          header.grid
            .unit
              // begin logo
             
              img(width='1899' ,height='413' ,src='/Picture/CompanyTitle.jpg' ,alt='img2' ,class='attachment-single-post-thumbnail wp-post-image')
              // end logo
            // end .grid
          // end header
        // begin main navigation
        .main-navigation.banner
          .mobile-menu
            i.fa.fa-bars
            |  Menu
          |                                             
          nav.menu-top-menu-container
            ul#menu-top-menu.menu
              li#menu-item-9.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-9
                a(href='http://demo.s5themes.com/cody/') Home
              li#menu-item-10.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-10
                a(href='http://demo.s5themes.com/cody/about/') About
                ul.sub-menu
                  li#menu-item-27.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-27
                    a(href='http://demo.s5themes.com/cody/gallery/') Gallery
              li#menu-item-28.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-28
                a(href='http://demo.s5themes.com/cody/blog/') Blog
              li#menu-item-25.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-25
                a(href='http://demo.s5themes.com/cody/contact/') Contact
        // end main navigation
      // end .banner
      // begin main
      .main.grid
        // featured article
        section.featured.whole
          // begin sticky post article
          article.post-39.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-deserts.category-featured.tag-cupcake.tag-donuts.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/donut-marzipan/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img2-800x600.png', alt='img2')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/donut-marzipan/') Donut marzipan
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/donut-marzipan/#respond', title='Comment on Donut marzipan') 0
              // end postmeta
          // end sticky post article
          // begin sticky post article
          article.post-37.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-deserts.category-featured.tag-ice-cream.tag-tootsie-roll.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/ice-cream-tootsie-roll/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img3-800x600.png', alt='img3')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/ice-cream-tootsie-roll/') Ice cream tootsie roll
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/ice-cream-tootsie-roll/#respond', title='Comment on Ice cream tootsie roll') 0
              // end postmeta
          // end sticky post article
          // begin sticky post article
          article.post-35.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-deserts.category-featured.tag-apple-pie.tag-candy-canes.tag-dessert.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/candy-canes-apple-pie-dessert/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img4-800x600.png', alt='img4')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/candy-canes-apple-pie-dessert/') Candy canes apple pie dessert
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/candy-canes-apple-pie-dessert/#respond', title='Comment on Candy canes apple pie dessert') 0
              // end postmeta
          // end sticky post article
          // begin sticky post article
          article.post-33.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-cakes.category-featured.tag-cookie.tag-muffin.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/bear-claw-fruitcake-cookie-muffin/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img5-800x600.png', alt='img5')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/bear-claw-fruitcake-cookie-muffin/') Bear claw fruitcake cookie muffin
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/bear-claw-fruitcake-cookie-muffin/#respond', title='Comment on Bear claw fruitcake cookie muffin') 0
              // end postmeta
          // end sticky post article
          // begin sticky post article
          article.post-31.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-cakes.category-featured.tag-cake.tag-chocolate.tag-jujubes.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/jujubes-cake-chocolate-bar/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img6-800x600.png', alt='img6')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/jujubes-cake-chocolate-bar/') Jujubes cake chocolate bar
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/jujubes-cake-chocolate-bar/#respond', title='Comment on Jujubes cake chocolate bar') 0
              // end postmeta
          // end sticky post article
          // begin sticky post article
          article.post-29.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-cakes.category-featured.tag-cheesecake.tag-cookie.tag-liquorice.unit.one-third.hoverable
            .post-thumb
              a(href='http://demo.s5themes.com/cody/cheesecake-liquorice-cookie/')
                img.attachment-single-post-thumbnail.wp-post-image(width='800', height='600', src='http://demo.s5themes.com/cody/files/2014/10/img1-800x600.png', alt='img1')
            |                                 
            |                 
            .post-info
              h3
                a(href='http://demo.s5themes.com/cody/cheesecake-liquorice-cookie/') Cheesecake liquorice cookie
              // begin postmeta
              .postmeta
                span.post-comments
                  i.fa.fa-comment
                  |  
                  a(href='http://demo.s5themes.com/cody/cheesecake-liquorice-cookie/#respond', title='Comment on Cheesecake liquorice cookie') 0
              // end postmeta
          // end sticky post article
        // featured article
      // end .main
    // end #main-container
    // begin footer-container
    .footer-container
      footer.footer.grid       
        // begin copyright
        font(color = 'black')
          |各種特殊材料印刷
          |超高透明塑膠袋
          |文具袋
          |彩色保麗袋
          |吊掛袋
          |食品袋
          |成衣袋
          |自動包裝膜
        // end copyright
        // Site5 Credits

        // end Site5 Credits
    // end footer-container
    script(type='text/javascript', src='http://demo.s5themes.com/cody/wp-content/themes/cody/js/custom.js?ver=1.0')
    script(type='text/javascript', src='http://demo.s5themes.com/cody/wp-content/themes/cody/lib/prettyphoto/jquery.prettyPhoto.js?ver=1.0')
    script(type='text/javascript', src='http://demo.s5themes.com/cody/wp-content/themes/cody/lib/fitvids/jquery.fitvids.js?ver=1.0')
    script(type='text/javascript', src='http://demo.s5themes.com/cody/wp-content/themes/cody/lib/jplayer/jquery.jplayer.min.js?ver=1.0')
